<h1 id="helpTitle">faq</h1>

<div id="faqContainer">
	<div class="faqCategory">
		<a href="#Home Page" class="faqCategoryTitle">Home Page</a>
		<div class="faqCategoryTextContainer">
			<a href="#hp_1" class="faqCategoryText">What is the purpose of the home page?</a>
			<a href="#hp_2" class="faqCategoryText">I heard there were extra features planned for the homepage, what features excactly?</a>
			<a href="#hp_3" class="faqCategoryText">How do i navigate starting from the home page?</a>
		</div>
	</div>
	<div class="faqCategory">
		<a href="#Statistics Page" class="faqCategoryTitle">Statistics Page</a>
		<div class="faqCategoryTextContainer">
			<a href="#stp_1" class="faqCategoryText">What is the purpose of the statistics page?</a>
			<a href="#stp_2" class="faqCategoryText">What does "aggregate by..." mean?</a>
			<a href="#stp_3" class="faqCategoryText">The 4 dropdowns and their basic usage.</a>
		</div>
	</div>
	<div class="faqCategory">
		<a href="#Sensors Page" class="faqCategoryTitle">Sensors Page</a>
		<div class="faqCategoryTextContainer">
			<a href="#sp_1" class="faqCategoryText">The sensors page looks broken, how do i fix this?</a>
			<a href="#sp_2" class="faqCategoryText">Adding a location/sensor</a>
			<a href="#sp_3" class="faqCategoryText">Editing a location/sensor</a>
			<a href="#sp_4" class="faqCategoryText">Deleting a location/sensor</a>
			<a href="#sp_5" class="faqCategoryText">Extra features</a>
		</div>
	</div>
	<div class="faqCategory">
		<a href="#Social Home Page" class="faqCategoryTitle">Social Home Page</a>
		<div class="faqCategoryTextContainer">
			<a href="#shp_1" class="faqCategoryText">The social page looks broken, how do i fix this?</a>
			<a href="#shp_2" class="faqCategoryText">Making a group.</a>
			<a href="#shp_3" class="faqCategoryText">Getting new friends.</a>
			<a href="#shp_4" class="faqCategoryText">Looking at the wall of groups/friends</a>
		</div>
	</div>
	<div class="faqCategory">
		<a href="#Social Profile Page" class="faqCategoryTitle">Social Profile Page</a>
		<div class="faqCategoryTextContainer">
			<a href="#spp_1" class="faqCategoryText">How do i change my profile picture?</a>
			<a href="#spp_2" class="faqCategoryText">Basic overview</a>
		</div>
	</div>


	<div class="quest-answer_separator"></div>


	<a class="faqCategoryAnswer answer" name="Home Page">
		<div class="faqCategoryAnswerContainer">
			<div class="faqCategoryTitle answer">
				Home Page
			</div>
			<a name="hp_1" class="faqCategoryText answer">
				lorem ipsum
			</a>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
			<a name="hp_2" class="faqCategoryText answer">
				lorem ipsum
			</a>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
			<a name="hp_3" class="faqCategoryText answer">
				lorem ipsum
			</a>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
		</div>
	</a>



	<a class="faqCategoryAnswer answer" name="Statistics Page">
		<div class="faqCategoryAnswerContainer">
			<div class="faqCategoryTitle answer">
				Statistics Page
			</div>
			<a name="stp_1" class="faqCategoryText answer">
				lorem ipsum
			</a>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
			<a name="stp_2" class="faqCategoryText answer">
				lorem ipsum
			</a>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
			<a name="stp_3" class="faqCategoryText answer">
				lorem ipsum
			</a>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
		</div>
	</a>



	<a class="faqCategoryAnswer" name="Sensors Page">
		<div class="faqCategoryAnswerContainer">
			<div class="faqCategoryTitle answer">
				Sensors Page
			</div>
			<a name="sp_1" class="faqCategoryText answer">
				lorem ipsum
			</a>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
			<a name="sp_2" class="faqCategoryText answer">
				lorem ipsum
			</a>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
			<a name="sp_3" class="faqCategoryText answer">
				lorem ipsum
			</a>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
			<a name="sp_4" class="faqCategoryText answer">
				lorem ipsum
			</a>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
			<a name="sp_5" class="faqCategoryText answer">
				lorem ipsum
			</a>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
		</div>
	</a>



	<a class="faqCategoryAnswer" name="Social Home Page">
		<div class="faqCategoryAnswerContainer">
			<div class="faqCategoryTitle answer">
				Social Home Page
			</div>
			<a name="shp_1" class="faqCategoryText answer">
				lorem ipsum
			</a>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
			<a name="shp_2" class="faqCategoryText answer">
				lorem ipsum
			</a>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
			<a name="shp_3" class="faqCategoryText answer">
				lorem ipsum
			</a>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
			<a name="shp_4" class="faqCategoryText answer">
				lorem ipsum
			</a>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
		</div>
	</a>



	<a class="faqCategoryAnswer" name="Social Profile Page">
		<div class="faqCategoryAnswerContainer">
			<div class="faqCategoryTitle answer">
				Social Profile Page
			</div>
			<a name="spp_1" class="faqCategoryText answer">
				lorem ipsum
			</a>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
			<a name="spp_2" class="faqCategoryText answer">
				lorem ipsum
			</a>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
			<div class="actualAnswer">
				lolollolollolollolollolol
			</div>
		</div>
	</a>
</div>
