<div ng-controller="helpController">
		<h1 id="helpTitle">faq</h1>
		
		<div id="faqContainer">
			<div class="faqCategory">
				<a href="#Home Page" class="faqCategoryTitle" ng-bind="i18n('faq_hp')"></a>
				<div class="faqCategoryTextContainer">
					<a href="#hp_1" class="faqCategoryText" ng-bind="i18n('faq_hp_quest_1')"></a>
					<a href="#hp_2" class="faqCategoryText" ng-bind="i18n('faq_hp_quest_2')"></a>
				</div>
			</div>
			<div class="faqCategory">
				<a href="#Statistics Page" class="faqCategoryTitle" ng-bind="i18n('faq_stp')"></a>
				<div class="faqCategoryTextContainer">
					<a href="#stp_1" class="faqCategoryText" ng-bind="i18n('faq_stp_quest_1')"></a>
					<a href="#stp_2" class="faqCategoryText" ng-bind="i18n('faq_stp_quest_2')"></a>
				</div>
			</div>
			<div class="faqCategory">
				<a href="#Sensors Page" class="faqCategoryTitle" ng-bind="i18n('faq_sp')"></a>
				<div class="faqCategoryTextContainer">
					<a href="#sp_1" class="faqCategoryText" ng-bind="i18n('faq_sp_quest_1')"></a>
					<a href="#sp_2" class="faqCategoryText" ng-bind="i18n('faq_sp_quest_2')"></a>
					<a href="#sp_3" class="faqCategoryText" ng-bind="i18n('faq_sp_quest_3')"></a>
					<a href="#sp_4" class="faqCategoryText" ng-bind="i18n('faq_sp_quest_4')"></a>
					<a href="#sp_5" class="faqCategoryText" ng-bind="i18n('faq_sp_quest_4')"></a>
				</div>
			</div>
			<div class="faqCategory">
				<a href="#Social Home Page" class="faqCategoryTitle" ng-bind="i18n('faq_shp')"></a>
				<div class="faqCategoryTextContainer">
					<a href="#shp_1" class="faqCategoryText" ng-bind="i18n('faq_shp_quest_1')"></a>
					<a href="#shp_2" class="faqCategoryText" ng-bind="i18n('faq_shp_quest_2')"></a>
					<a href="#shp_3" class="faqCategoryText" ng-bind="i18n('faq_shp_quest_3')"></a>
					<a href="#shp_4" class="faqCategoryText" ng-bind="i18n('faq_shp_quest_4')"></a>
				</div>
			</div>
			<div class="faqCategory">
				<a href="#Social Profile Page" class="faqCategoryTitle" ng-bind="i18n('faq_spp')"></a>
				<div class="faqCategoryTextContainer">
					<a href="#spp_1" class="faqCategoryText" ng-bind="i18n('faq_spp_quest_1')"></a>
					<a href="#spp_2" class="faqCategoryText" ng-bind="i18n('faq_spp_quest_2')"></a>
				</div>
			</div>
		
		
			<div class="quest-answer_separator"></div>
		
		
			<a class="faqCategoryAnswer answer" name="Home Page">
				<div class="faqCategoryAnswerContainer">
					<div class="faqCategoryTitle answer" ng-bind="i18n('faq_hp')"></div>
					<a name="hp_1" class="faqCategoryText answer" ng-bind="i18n('faq_hp_quest_1')"></a>
					<div class="actualAnswer">
						<div ng-bind="i18n('faq_hp_ans_1.1')"></div>
						<img src="/static/FAQ_img/navigateFAQ.png" class="helpImage"/>
						<div ng-bind="i18n('faq_hp_ans_1.2')"></div>	
					</div>
					<a name="hp_2" class="faqCategoryText answer" ng-bind="i18n('faq_hp_quest_2')"></a>
					<div class="actualAnswer" ng-bind="i18n('faq_hp_quest_2')">
					</div>
				</div>
			</a>
		
		
		
			<a class="faqCategoryAnswer answer" name="Statistics Page">
				<div class="faqCategoryAnswerContainer">
					<div class="faqCategoryTitle answer" ng-bind="i18n('faq_stp')"></div>
					<a name="stp_1" class="faqCategoryText answer" ng-bind="i18n('faq_stp_quest_1')"></a>
					<div class="actualAnswer" ng-bind="i18n('faq_stp_ans_1')"></div>
					<a name="stp_2" class="faqCategoryText answer" ng-bind="i18n('faq_stp_quest_2')"></a>
					<div class="actualAnswer" ng-bind="i18n('faq_stp_ans_2')"></div>
				</div>
			</a>
		
		
		
			<a class="faqCategoryAnswer" name="Sensors Page">
				<div class="faqCategoryAnswerContainer">
					<div class="faqCategoryTitle answer" ng-bind="i18n('faq_sp')"></div>
					<a name="sp_1" class="faqCategoryText answer" ng-bind="i18n('faq_sp_quest_1')"></a>
					<div class="actualAnswer">
						<div ng-bind="i18n('faq_sp_ans_1.1')"></div>
						<img src="/static/FAQ_img/BadBrowser.png" class="helpImage"/>
						<div ng-bind="i18n('faq_sp_ans_1.2')"></div>
					</div>
					<a name="sp_2" class="faqCategoryText answer" ng-bind="i18n('faq_sp_quest_2')"></a>
					<div class="actualAnswer" ng-bind="i18n('faq_sp_ans_2')"></div>
					<a name="sp_3" class="faqCategoryText answer" ng-bind="i18n('faq_sp_quest_3')"></a>
					<div class="actualAnswer">
						<div ng-bind="i18n('faq_sp_ans_3.1')"></div>
						<i class="material-icons helpPageIcon">edit</i>
						<div style="display: inline;" ng-bind="i18n('faq_sp_ans_3.2')"></div>
						<a class="faqCategoryTextRef" href="#sp_2" ng-bind="i18n('faq_sp_quest_2')"></a>
					</div>
					<a name="sp_4" class="faqCategoryText answer" ng-bind="i18n('faq_sp_quest_4')"></a>
					<div class="actualAnswer">
						<div ng-bind="i18n('faq_sp_ans_4.1')"></div>
						<i class="material-icons helpPageIcon">delete</i>
						<div ng-bind="i18n('faq_sp_ans_4.1')"></div>
					</div>
					<a name="sp_5" class="faqCategoryText answer" ng-bind="i18n('faq_sp_quest_5')"></a>
					<div class="actualAnswer">
						<div ng-bind="i18n('faq_sp_ans_5')"></div>
						<i class="material-icons md-10 helpPageIcon">play_arrow</i>
					</div>
				</div>
			</a>
		
		
		
			<a class="faqCategoryAnswer" name="Social Home Page">
				<div class="faqCategoryAnswerContainer">
					<div class="faqCategoryTitle answer" ng-bind="i18n('faq_shp')"></div>
					<a name="shp_1" class="faqCategoryText answer" ng-bind="i18n('faq_shp_quest_1')"></a>
					<div class="actualAnswer">
						<div style="display: inline;" ng-bind="i18n('faq_shp_ans_1')"></div>
						<a class="faqCategoryTextRef" href="#sp_1" ng-bind="i18n('faq_sp_quest_1')"></a>
					</div>
					<a name="shp_2" class="faqCategoryText answer" ng-bind="i18n('faq_shp_quest_2')"></a>
					<div class="actualAnswer">
						<div ng-bind="i18n('faq_shp_ans_2.1')"></div>
						<img src="/static/FAQ_img/Social_nav.png" class="helpImage"/>
						<div ng-bind="i18n('faq_shp_ans_2.2')"></div>
					</div>
					<a name="shp_3" class="faqCategoryText answer" ng-bind="i18n('faq_shp_quest_3')"></a>
					<div class="actualAnswer">
						<div ng-bind="i18n('faq_shp_ans_3.1')"></div>
						<img src="/static/FAQ_img/Social_nav.png" class="helpImage"/>
						<div ng-bind="i18n('faq_shp_ans_3.2')"></div>
					</div>
					<a name="shp_4" class="faqCategoryText answer" ng-bind="i18n('faq_shp_quest_4')"></a>
					<div class="actualAnswer">
						<div ng-bind="i18n('faq_shp_ans_4.1')"></div>
						<a style="display: inline" class="faqCategoryTextRef" href="#hp_1" ng-bind="i18n('faq_hp_quest_1')"></a>
						<div ng-bind="i18n('faq_shp_ans_4.2')"></div>
						<img src="/static/FAQ_img/Social_nav2.png" class="helpImage"/>
					</div>
				</div>
			</a>
		
		
		
			<a class="faqCategoryAnswer" name="Social Profile Page">
				<div class="faqCategoryAnswerContainer">
					<div class="faqCategoryTitle answer" ng-bind="i18n('faq_spp')"></div>
					<a name="spp_1" class="faqCategoryText answer" ng-bind="i18n('faq_spp_quest_1')"></a>
					<div class="actualAnswer">
						<div ng-bind="i18n('faq_spp_ans_1')"></div>
						<a style="display: inline" class="faqCategoryTextRef" href="https://en.gravatar.com/">gravatar</a>.
					</div>
					<a name="spp_2" class="faqCategoryText answer" ng-bind="i18n('faq_spp_quest_2')"></a>
					<div class="actualAnswer" ng-bind="i18n('faq_spp_ans_2')"></div>
				</div>
			</a>
		</div>
</div>
