<!--card1-->
<div ng-controller="homeController">
    <!--The actual grid-->
	<div class="mdl-grid">
		<!--cards-->
		<div ng-repeat="graph in graphs" on-finish-render="ngRepeatFinished" class="mdl-cell mdl-cell--6-col">
			<div class="demo-card-wide mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">Sample Data {{$index}}</h2>
					<button id="share_btn-{{$index}}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect iconOnCard">
						<i class="material-icons iconOnCard">share</i>
					</button>
					<button id="important_btn-{{$index}}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect iconOnCard" ng-click="mark_important($index)">
			            <i id="important_icon-{{$index}}" class="material-icons iconOnCard white">grade</i>
		            </button>
				</div>
				<div ng-click="fullscreen(graph)">
					<canvas id="line-{{$index}}" class="chart chart-base" chart-type="graph.type" chart-data="graph.data" chart-labels="graph.labels" chart-legend="true" chart-series="graph.series" chart-click=""></canvas>
				</div>
            </div>
            <div ng-repeat="i in graphs" class="mdl-tooltip" for="important_btn-{{$index}}" ng-bind="importants[$index] ? i18n('mark_unimportant') : i18n('mark_important')">
            </div>
		    <div ng-repeat="i in graphs" class="mdl-tooltip" for="share_btn-{{$index}}" ng-bind="i18n('share')">
		    </div>
		</div>
		<div ng-repeat="graph in graphs_single" on-finish-render="ngRepeatFinished" class="mdl-cell mdl-cell--6-col">
			<div class="demo-card-wide mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">Sample Data {{$index + graphs.length}}</h2>
					<button id="share_btn-{{$index + graphs.length}}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect iconOnCard">
						<i class="material-icons iconOnCard">share</i>
					</button>
					<button id="important_btn-{{$index + graphs.length}}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect iconOnCard" ng-click="mark_important($index + graphs.length)">
			            <i id="important_icon-{{$index + graphs.length}}" class="material-icons iconOnCard white">grade</i>
		            </button>
				</div>
				<div ng-click="fullscreen(graph)">
					<canvas id="line-{{$index + graphs.length}}" class="chart chart-base" chart-type="graph.type" chart-data="graph.data" chart-labels="graph.labels" chart-legend="true" chart-series="graph.series" chart-click=""></canvas>
				</div>
            </div>
            <div ng-repeat="i in graphs_single" class="mdl-tooltip" for="important_btn-{{$index + graphs.length}}" ng-bind="importants[$index + graphs.length] ? i18n('mark_unimportant') : i18n('mark_important')">
            </div>
		    <div ng-repeat="i in graphs_single" class="mdl-tooltip" for="share_btn-{{$index + graphs.length}}" ng-bind="i18n('share')">
		    </div>
		</div>
	</div>
</div>
