  <!-- The welcome message-->
<div id="template_index" ng-controller="indexView">
    <div class="centeredContainer">
        <p class="welcomeMessage">{{i18n("homepage_welcome")}} OverWatch!</p>
        <p class="welcomeMessage">"Overwatch is love, Overwatch is life."</p>
        <p class="welcomeMessage" ng-show=logged_in>Currently logged in as {{auth_user.user_name}}.</p>
        <button id="btnSignup" type="button" class="hugeButton mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
            {{i18n("register")}}
        </button>
    </div>
    <!-- The log in dialog-->
    <dialog id="dlgLogin" class="mdl-dialog" ng-controller="loginCtrl">
        <h4 class="mdl-dialog__title">{{i18n("login")}}</h4>
        <div class="mdl-dialog__content">
            <form action="#" name="login_form">
                <!-- The username and password-->
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="input_login_username" name="login_username" ng_model="username" required>
                    <label ng-show="login_form.login_username.$error.required" class="mdl-textfield__label" for="input_login_username">{{i18n("username")}}</label>
                </div>
                    <div ng-messages="login_form.login_username.$error">
                            <div style="color: red" ng-message="required">{{i18n("required_field")}}</div>
                    </div> 
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="password" id="input_login_password" name="login_password" ng-model="password" required>
                    <label ng-show="login_form.login_password.$error.required" class="mdl-textfield__label" for="input_login_password">{{i18n("password")}}</label>
                </div>
                    <div ng-messages="login_form.login_password.$error">
                            <div style="color: red" ng-message="required">{{i18n("required_field")}}</div>
                    </div>
                    <div>
                            <p style="color: red" ng-show="wrong_login">{{i18n("login_error")}}</p>
                    </div>
            </form>
            <div>
                <!-- The dialog's buttons ("log in" and "back"), sorry i used "style=" :)-->
                <button id="btnDialogLogin" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="login()"
                    style="width: 45%; display: inline;">
                    {{i18n("login")}}
                </button>
                <button id="btnDialogBack" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                    style="width: 45%; display: inline;" ng-click="wrong_login=false">
                    {{i18n("back")}}
                </button>
            </div>
        </div>
    </dialog>

    <!-- The sign up dialog-->
    <dialog id="dlgSignup" class="mdl-dialog" ng-controller="signupCtrl">
        <h4 class="mdl-dialog__title">{{i18n("register")}}</h4>
        <div class="mdl-dialog__content" >
            <form action="#" name="signup_form">
                <!-- The username and password-->
                <div class="mdl-textfield mdl-js-textfield">
                    <label ng-show="signup_form.signupUsername.$error.required" class="mdl-textfield__label" for="input_signup_username">{{i18n("username")}}</label>                  
                    <input class="mdl-textfield__input" type="text" id="input_signup_username" ng-model="username" name="signupUsername" required/>
                        </div>
                        <div ng-messages="signup_form.signupUsername.$error">
                                <div style="color: red" ng-message="required">{{i18n("required_field")}}</div>
                        </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="email" id="input_signup_email" name="signupEmail" ng-model="email" required>
                    <label ng-show="signup_form.signupEmail.$error.required" class="mdl-textfield__label" for="input_signup_email">Email</label>
                </div>
                    <div ng-messages="signup_form.signupEmail.$error">
                            <div style="color: red" ng-message="required">{{i18n("required_field")}}</div>
                            <div style="color: red" ng-message="email">{{i18n("invalid_email")}}</div>
                    </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="password" id="input_signup_password" ng-model="password" name="signupPassword" required minlength="8">
                    <label ng-show="signup_form.signupPassword.$error.required" class="mdl-textfield__label" for="input_signup_password">{{i18n("password")}}</label>
                </div>
                    <div ng-messages="signup_form.signupPassword.$error">
                            <div style="color: red" ng-message="required">{{i18n("required_field")}}</div>
                            <div style="color: red" ng-message="minlength">{{i18n("invalid_password")}}</div>
                    </div>
            </form>
            <div>
                <!-- The dialog's buttons ("log in" and "back"), sorry i used "style=" :)-->
                <button id="btnDialogSignup" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="signup()"
                    style="width: 55%; display: inline;">
                    {{i18n("register")}}
                </button>
                <button id="btnSignupBack" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                    style="width: 40%; display: inline;">
                    {{i18n("back")}}
                </button>
            </div>
        </div>
    </dialog>
</div>
