<div ng-controller="reportController">
	<div id="reportContent">
		<div id="reportTitle" class="editComment" contentEditable="true"
				placeholder="{{i18n('report_title')}}"></div>
		<div class="reportSection">
			<div class="reportGraph">
				<canvas ng-click="fullscreen(graph0)" id="line-0" class="chart chart-base" chart-type="graph0.type" chart-data="graph0.data" chart-labels="graph0.labels" chart-legend="true" chart-series="graph0.series" chart-click=""></canvas>
			</div>
			<div class="reportComment editComment" contentEditable="true"
					placeholder="{{i18n('report_comment')}}"></div>
		</div>
		<div class="reportSection">
			<div class="reportGraph">
				<canvas ng-click="fullscreen(graph1)" id="line-1" class="chart chart-base" chart-type="graph1.type" chart-data="graph1.data" chart-labels="graph1.labels" chart-legend="true" chart-series="graph1.series" chart-click=""></canvas>
			</div>
			<div class="reportComment editComment" contentEditable="true"
					placeholder="{{i18n('report_comment')}}"></div>
		</div>
		<div class="reportSection">
			<div class="finalReportComment editComment"
					contentEditable="true" placeholder="{{i18n('report_final_comment')}}"></div>
		</div>
	</div>









	<!--
	<div id="reportTitle" class="editComment" contentEditable="true" placeholder="Title (click and type to make a title)"></div>
	<div class="reportSection">
		<div class="reportGraph">
			<img src="../../static/kitten.jpg" style="height: auto; width: 100%;">
		</div>
		<div class="comment editComment" contentEditable="true" placeholder="comment (click and type to make a comment)"></div>
	</div>
	<div class="reportSection">
		<div class="reportGraph">
			<img src="../../static/kitten.jpg" style="height: auto; width: 100%;">
		</div>
		<div class="comment editComment" contentEditable="true" placeholder="comment (click and type to make a comment)"></div>
	</div>
	<div class="reportSection">
		<div class="finalReportComment editComment" contentEditable="true" placeholder="comment (click and type to make a final comment)"></div>
	</div> -->
</div>
