<div ng-controller="reportController">
	<div class="reportContent">
		<div id="reportTitle" class="editComment" contentEditable="true"
				placeholder="Title (click and type to make a title)"></div>
		<div class="reportSection">
			<div class="reportGraph">
				<img src="../../static/kitten.jpg" style="height: auto; width: 100%;">
			</div>
			<div class="reportComment editComment" contentEditable="true"
					placeholder="comment (click and type to make a comment)"></div>
		</div>
		<div class="reportSection">
			<div class="reportGraph">
				<img src="../../static/kitten.jpg" style="height: auto; width: 100%;">
			</div>
			<div class="reportComment editComment" contentEditable="true"
					placeholder="comment (click and type to make a comment)"></div>
		</div>
		<div class="reportSection">
			<div class="finalReportComment editComment"
					contentEditable="true" placeholder="comment (click and type to make a final comment)"></div>
		</div>
	</div>









	<!--
	<div id="reportTitle" class="editComment" contentEditable="true" placeholder="Title (click and type to make a title)"></div>
	<div class="reportSection">
		<div class="reportGraph">
			<img src="../../static/kitten.jpg" style="height: auto; width: 100%;">
		</div>
		<div class="comment editComment" contentEditable="true" placeholder="comment (click and type to make a comment)"></div>
	</div>
	<div class="reportSection">
		<div class="reportGraph">
			<img src="../../static/kitten.jpg" style="height: auto; width: 100%;">
		</div>
		<div class="comment editComment" contentEditable="true" placeholder="comment (click and type to make a comment)"></div>
	</div>
	<div class="reportSection">
		<div class="finalReportComment editComment" contentEditable="true" placeholder="comment (click and type to make a final comment)"></div>
	</div> -->
</div>
