<div ng-controller="sensorView">
	<div class="mdl-grid">
		<!--Location table-->
		<div class="mdl-cell mdl-cell--3-col">
			<div id="locations">
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
					<thead>
						<tr class="tableHeadColor">
							<th class="mdl-data-table__cell--non-numeric">
								<div>
									{{i18n("locations")}}
								</div>
							</th>
							<th>
								<div>
									<!--I had to use an extra "table attribute" for  the symbols at the end-->
								</div>
							</th>
					</thead>
					<tbody>
						<tr ng-repeat="location in locations" on-finish-render="ngRepeatFinished">
							<td class="mdl-data-table__cell--non-numeric">{{location.desc}}</td>
							<td>
								<!--TODO add events for these buttons (their purpose should be clear: delete and modify a location)-->
								<button id="btnModifyLoc-{{$index}}" type="button" class="bareButton" ng-click="open_dialog('dlgLocation', $index);"><i class="material-icons">edit</i></button>
								<button id="btnDeleteLoc-{{$index}}" type="button" class="bareButton" ng-click="delete($index, locations);"><i class="material-icons">delete</i></button>
							</td>
						</tr>	
					</tbody>
				</table>
				<button id="btnAddLoc" ng-click="reset_loc();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
				  {{i18n("add_location")}}
				</button>
			</div>
		</div>

		<!--Sensor table-->
		<div class="mdl-cell mdl-cell--9-col">
			<div id="dataTable">
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
					<thead>
						<tr class="tableHeadColor">
							<th class="mdl-data-table__cell--non-numeric">
								<!--TODO sort the column when some object of type sortColumnAttr is clicked-->

								<button ng-click="set_order('name', 'sort_sensor')" id="sort_sensor" class="mdl-button mdl-js-button mdl-button--icon">
								    <i class="material-icons md-10 ">play_arrow</i>
								</button>  
    							<span>Sensor</span>
							</th>
							<th>
								<!--TODO sort the column when some object of type sortColumnAttr is clicked-->
								<button ng-click="set_order('location', 'sort_location')" id="sort_location" class="mdl-button mdl-js-button mdl-button--icon">
								    <i class="material-icons md-10 ">play_arrow</i>
								</button>  
    							<span>{{i18n("location")}}</span>
							</th>
							<th>
								<!--TODO sort the column when some object of type sortColumnAttr is clicked-->
								<button ng-click="set_order('type', 'sort_type')" id="sort_type" class="mdl-button mdl-js-button mdl-button--icon">
								    <i class="material-icons md-10 ">play_arrow</i>
								</button>  
    							<span>Type</span>
							</th>
							<th>
								<!--TODO sort the column when some object of type sortColumnAttr is clicked-->
								<button ng-click="set_order('tags', 'sort_tags')" id="sort_tags" class="mdl-button mdl-js-button mdl-button--icon">
								    <i class="material-icons md-10 ">play_arrow</i>
								</button>  
    							<span>Tags</span>
							</th>
							<th>
								<!--I had to use an extra "table attribute" for  the symbols at the end-->
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="sensor in sensors | index | orderBy: selected_order" on-finish-render="ngRepeatFinished">
							<td class="mdl-data-table__cell--non-numeric">{{sensor.name}}</td>
				            <td>{{sensor.location}}</td>
				            <td>{{sensor.type}}</td>
				            <td><span ng-repeat="tag in sensor.tags">{{$index > 0 ? ", " : ""}}{{tag.text}}</span></td>
							<td>
								<button id="btnModifySen-{{$index}}" type="button" class="bareButton" ng-click="open_dialog('dlgSensor', sensor.index, true);"><i class="material-icons">edit</i></button>
								<button id="btnDeleteSen-{{$index}}" type="button" class="bareButton" ng-click="delete(sensor.index, sensors);"><i class="material-icons">delete</i></button>
							</td>
						</tr>	
					</tbody>
				</table>
				<button id="btnAddSensor" ng-click="reset_sen();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
				  {{i18n("add_sensor")}}
				</button>
			</div>
		</div>
	</div>
    <div ng-repeat="location in locations" class="mdl-tooltip mdl-tooltip--left" for="btnModifyLoc-{{$index}}">
    	{{i18n("edit_location")}}
	</div>
	<div ng-repeat="location in locations" class="mdl-tooltip mdl-tooltip--right" for="btnDeleteLoc-{{$index}}">
		{{i18n("del_location")}}
	</div>
    <div ng-repeat="sensor in sensors" class="mdl-tooltip mdl-tooltip--left" for="btnModifySen-{{$index}}">
    	{{i18n("edit_sensor")}}
	</div>
	<div ng-repeat="sensor in sensors" class="mdl-tooltip mdl-tooltip--left" for="btnDeleteSen-{{$index}}">
		{{i18n("del_sensor")}}
	</div>

	<!--Add sensor dialog-->
    <dialog id="dlgSensor" class="mdl-dialog">
        <h4 class="mdl-dialog__title">{{edit_sen}}</h4>
        <div class="mdl-dialog__content">
            <form name="sensor_form">
                <div id="txtfield_SensorName" class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" ng-model="sen_name" type="text" id="input_SensorName" name="sensorName" required>
                    <label class="mdl-textfield__label" for="input_SensorName">{{i18n("name")}}</label>
                </div>
	            <tags-input ng-model="sen_tags" on-tag-added="add_autocomplete($tag)">
		            <auto-complete source="check_autocomplete($query)"></auto-complete>
	            </tags-input>
<!--                <div id="txtfield_SensorTags" class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" ng-model="sen_tags" type="text" id="input_SensorTags" name="sensorTags">
                    <label class="mdl-textfield__label" for="input_SensorTag">Tags</label>
                </div>-->
				<div id="txtfield_SensorLocation" class="mdl-selectfield">
					<label>{{i18n("location")}}</label>

					<select ng-model="sen_location" class="browser-default" required>
						<option value="" disabled selected>{{i18n("pick_loc")}}</option>
						<option ng-repeat="location in locations">{{location.desc}}</option>
					</select>
				</div>
				<div id="txtfield_SensorType" class="mdl-selectfield">
					<label>Type</label>
					<select class="browser-default" ng-model="sen_type" required>
						<option value="" disabled selected>{{i18n("pick_type")}}</option>
						<option ng-repeat="type in types">{{type}}</option>
					</select>
				</div>
            </form>
            <div>
                <button id="btnSensorSave" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" 
                    style="width: 45%; display: inline; margin-left: 5%;" ng-click="save_sen()">
                    {{i18n("save_changes")}}
                </button>
                <button id="btnSensorBack" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                    style="width: 45%; display: inline;" ng-click="reset_sen()">
                    {{i18n("back")}}
                </button>
            </div>
        </div>
    </dialog>

	<!--TODO Maybe adjust this information, i don't know if this is enough-->
	<dialog id="dlgLocation" class="mdl-dialog">
        <h4 class="mdl-dialog__title">{{edit_loc}}</h4>
        <div class="mdl-dialog__content">
            <form name="location_form">
                <div id="txtfield_LocationCountry" class="mdl-textfield mdl-js-textfield textfield-demo">
                    <input ng-model="loc_country" class="mdl-textfield__input" type="text" id="input_LocationCountry" name="locationCountry" required>
                    <label class="mdl-textfield__label" for="input_LocationCountry">{{i18n("country")}}</label>
                </div>
                <div id="txtfield_LocationCity" class="mdl-textfield mdl-js-textfield textfield-demo">
                    <input ng-model="loc_city" class="mdl-textfield__input" type="text" id="input_LocationCity" name="locationCity" required>
                    <label class="mdl-textfield__label" for="input_LocationCity">{{i18n("city")}}</label>
                </div>
                <div id="txtfield_LocationZip" class="mdl-textfield mdl-js-textfield textfield-demo">
                    <input ng-model="loc_postalcode" class="mdl-textfield__input" type="number" id="input_LocationZip" name="locationZip" required>
                    <label class="mdl-textfield__label" for="input_LocationZip">{{i18n("postalcode")}}</label>
                </div>
                <div id="txtfield_LocationStreet" class="mdl-textfield mdl-js-textfield textfield-demo">
                    <input ng-model="loc_street" class="mdl-textfield__input" type="text" id="input_LocationStreet" name="locationStreet" required>
                    <label class="mdl-textfield__label" for="input_LocationStreet">{{i18n("street")}}</label>
                </div>
                <div id="txtfield_LocationNr" class="mdl-textfield mdl-js-textfield textfield-demo">
                    <input ng-model="loc_number" class="mdl-textfield__input" type="number" id="input_LocationNr" name="locationNr" required>
                    <label class="mdl-textfield__label" for="input_LocationNr">{{i18n("number")}}</label>
                </div>
                <div id="txtfield_LocationDesc" class="mdl-textfield mdl-js-textfield textfield-demo">
                    <input ng-model="loc_desc" class="mdl-textfield__input" type="text" id="input_LocationDesc" name="locationDesc" required>
                    <label class="mdl-textfield__label" for="input_LocationDesc">{{i18n("description")}}</label>
                </div>
            </form>
            <div>
                <button id="btnLocationSave" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="save_loc()"
                    style="width: 45%; display: inline; margin-left: 5%;">
                    {{i18n("save_changes")}}
                </button>
                <button id="btnLocationBack" ng-click="reset_loc();" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                    style="width: 45%; display: inline;">
                    {{i18n("back")}}
                </button>
            </div>
        </div>
    </dialog>
</div>
