<div ng-controller="profileController">
	<!-- NOTE: this structure can be used to show someone else's profile, it doesn't have to be "MY profile" -->
    <div class="profileHeader">{{auth_user.first_name}}'s profile:</div>
	<div class="profileCategory">
		<div class="profileTitle">Fun facts about {{auth_user.first_name}}</div>
		<div class="profileInfo">
			<div class="profileSubject">Full name:</div>
			<div class="profileResult">{{auth_user.first_name}} {{auth_user.last_name}}</div>
		</div>
		<div class="profileInfo">
			<div class="profileSubject">Email:</div>
			<div class="profileResult">{{auth_user.email}}</div>
		</div>
		<div class="profileInfo">
			<div class="profileSubject">Profile Pic:</div>
			{{get_hash()}}
			<img src="http://www.gravatar.com/avatar/{{CryptoJS.MD5(String.toLowerCase(String.trim(auth_user.email)));}}" />
		</div>
		<div class="profileInfo">
			<div class="profileSubject">Status:</div>
			<div class="profileResult">super gay</div>
		</div>
		<div class="profileInfo">
			<div class="profileSubject">Total usage (in e.g. Joules)</div>
			<div class="profileResult">5412544523 J</div>
		</div>
		<div class="profileInfo">
			<div class="profileSubject">Total expenses</div>
			<div class="profileResult">ONE MILLION DOLLARS!</div>
		</div>
		<div class="profileInfo">
			<div class="profileSubject">Amount of statuses shared</div>
			<div class="profileResult">54</div>
		</div>
		<div class="profileInfo">
			<div class="profileSubject">Total likes received</div>
			<div class="profileResult">0</div>
		</div>
		<div class="profileInfo">
			<div class="profileSubject">Friends</div>
			<div class="profileResult">0</div>
		</div>
	</div>
	<div class="profileCategory">
		<div class="profileTitle">Things *insert name here* thinks are important</div>
		<div class="profileInfo">
			<div class="profileSubject">Status:</div>
			<div class="profileResult">*some graph marked as important*</div>
		</div>
		<div class="profileInfo">
			<div class="profileSubject">Status:</div>
			<div class="profileResult">*some graph marked as important*</div>
		</div>
		<div class="profileInfo">
			<div class="profileSubject">Status:</div>
			<div class="profileResult">*some graph marked as important*</div>
		</div>
		<div class="profileInfo">
			<div class="profileSubject">Status:</div>
			<div class="profileResult">*some graph marked as important*</div>
		</div>
		<div class="profileInfo">
			<div class="profileSubject">Status:</div>
			<div class="profileResult">*some graph marked as important*</div>
		</div>
	</div>
	<div class="profileCategory">
		<div class="profileTitle">Top 5 most popular shared statuses</div>
		<div class="profileInfo">
			<div class="profileSubject">Status:</div>
			<div class="profileResult">*some graph marked as important*</div>
		</div>
		<div class="profileInfo">
			<div class="profileSubject">Status:</div>
			<div class="profileResult">*some graph marked as important*</div>
		</div>
		<div class="profileInfo">
			<div class="profileSubject">Status:</div>
			<div class="profileResult">*some graph marked as important*</div>
		</div>
		<div class="profileInfo">
			<div class="profileSubject">Status:</div>
			<div class="profileResult">*some graph marked as important*</div>
		</div>
		<div class="profileInfo">
			<div class="profileSubject">Status:</div>
			<div class="profileResult">*some graph marked as important*</div>
		</div>
	</div>
</div>
