<!-- Group field -->
<div ng-controller="groupController">
	<span>Welcome in group: {{group.title}}</span>
    <div id="txtfield_StatusGroup" class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" ng-model="status_text" type="text" id="input_StatusTextGroup" name="statusText">
        <label class="mdl-textfield__label" for="input_StatusTextGroup" ng-bind="i18n('input_status_group')"></label>
    </div>
    <button id="btnStatusPostGroup" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" 
                    style="width: 45%; display: inline; margin-left: 5%;" ng-click="post_status()" ng-bind="i18n('post_group')">
    </button>
</div>
