<div ng-controller="friendsController">
	<div style="margin: 20px;"></div>
	<div ng-repeat="friendObj in friends track by friendObj.UID" on-finish-render="ngRepeatFinished" class="friend">




		<div class="pictureWithInfo--container">
				<img class="pictureWithInfo" src="http://www.gravatar.com/avatar/{{get_hash(friendObj.email)}}?d=identicon" />
		</div>	
	  	<div class="profilePictureInfo">
			<div class="name" ng-click="setProfile(friendObj.UID)" ui-sref="social.profile">
				{{friendObj.first_name + " " + friendObj.last_name}}
			</div>
			<div class="actionList">
				<!--<div class="friendsAction">
					post on friends wall
				</div>
				<div class="friendsAction">
					view profile
				</div>-->
				<div class="friendsAction ng-binding" ng-click="delete_friend(friendObj.UID)" ng-bind="i18n('delete_friend')">Delete friend</div>
			</div>
		</div>
	</div>

</div>
