<div ng-controller="find_friendsController">
    <span class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">search</i>
    </span>
    <div id="txtfield_search_friend" class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="input_GroupName" name="searchFriend" ng-model="search_friend">
        <label class="mdl-textfield__label" for="input_GroupName" ng-bind="i18n('find_friends')"></label>
    </div>
    <!-- TODO Change this to track by user.UID when backend fixes its misery-->
    <div ng-repeat="user in users | filter:search_friend track by user.UID" on-finish-render="ngRepeatFinished">
      <img src="http://www.gravatar.com/avatar/{{get_hash(user.email)}}?d=identicon&s=50" />
      <div>{{user.first_name}} {{user.last_name}}</div>
      <div>{{user.email}}</div>
      <button id="btnAddFriend" ng-click="add_friend($index);" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-bind="i18n('add_friend')">
			</button>
    </div>
</div>
