<div ng-controller="statisticsController">
	<!-- The z-index is hardcoded because a sequence of these boxes would cover each other (the invisible part would cover the next box) -->
	<div id="box1" class="box">
		<div class="header">
			<!--
				TODO when the following element is clicked, add class "open" to element with id=box1
				in this examplae, box1 is already open, when it should be closed, "open" should just be removed, that's all
			-->
			<div id="for_box1">
				<i ng-click="open_box(1)" class="material-icons boxStatus">play_arrow</i>
			</div>
			<div class="headerText" ng-bind="i18n('box1_title')"></div>
		</div>
	</div>
	<div class="hiddenBox">
		<div class="boxContent">
			<div class="mdl-grid">


				<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-phone">
					<span class="mdl-list__item-secondary-action blockStatisticsSection">
					    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
					        <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" ng-model="aggregate_by[0]"/>
					    </label>
					</span>
					<span class="blockStatisticsSection" ng-bind="i18n('aggregate_loc')"></span>
				</div>
				<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-phone">
					<span class="mdl-list__item-secondary-action blockStatisticsSection">
					    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-2">
					        <input type="checkbox" id="list-checkbox-2" class="mdl-checkbox__input" ng-model="aggregate_by[1]"/>
					    </label>
					</span>
					<span class="blockStatisticsSection" ng-bind="i18n('aggregate_type')"></span>
				</div>
				<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-phone">
					<span class="mdl-list__item-secondary-action blockStatisticsSection">
					    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-3">
					        <input type="checkbox" id="list-checkbox-3" class="mdl-checkbox__input" ng-model="aggregate_by[2]"/>
					    </label>
					</span>
					<span class="blockStatisticsSection" ng-bind="i18n('aggregate_tag')"></span>
				</div>
				<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-phone">
					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp fullWidthTable">
					    <thead>
					        <tr>
					            <th class="mdl-data-table__cell--non-numeric">
					                <span class="mdl-list__item-secondary-action blockStatisticsSection">
					                    <!--This checkbox selects all the locations-->
					                    <label id="label-all_locations" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-all_locations">
					                        <input type="checkbox" id="list-checkbox-all_locations" class="mdl-checkbox__input" ng-model="all_locs" ng-change="select_all('location')"/>
					                    </label>
					                </span>
					                <span class="blockStatisticsSection" ng-bind="i18n('locations')"></span>
					            </th>
					        </tr>
					    </thead>
					    <tbody ng-controller="location_controller">
					        <tr ng-controller="location_objController" ng-repeat="house in houses" on-finish-render="ngRepeatFinished">
					            <td class="mdl-data-table__cell--non-numeric">
					                <span class="mdl-list__item-secondary-action blockStatisticsSection">
					                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="label-location_{{$index}}" for="list-checkbox-location_{{$index}}">
					                        <input type="checkbox" id="list-checkbox-location_{{$index}}" class="mdl-checkbox__input" ng-model="select_locs[$index]" ng-change="checkStatus('location', $index, select_locs[$index])"/>
					                    </label>
					                </span>
					            <span class="blockStatisticsSection" ng-bind="house.description"></span>
					            </td>
					            
					        </tr>
					    </tbody>
					</table>
				</div>

				<!--Type table-->
				<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-phone">
					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp fullWidthTable">
					    <thead>
					        <tr>
					            <th class="mdl-data-table__cell--non-numeric">
					                <span class="mdl-list__item-secondary-action blockStatisticsSection">
					                    <!--This checkbox selects all the locations-->
					                    <label id="label-all_types" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-all_types">
					                        <input type="checkbox" id="list-checkbox-all_types" class="mdl-checkbox__input" ng-model="all_types" ng-change="select_all('type')"/>
					                    </label>
					                </span>
					                <span class="blockStatisticsSection">Types</span>
					            </th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr ng-repeat="type in types" on-finish-render="ngRepeatFinished">
					            <td class="mdl-data-table__cell--non-numeric">
					                <span class="mdl-list__item-secondary-action blockStatisticsSection">
					                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="label-type_{{$index}}" for="list-checkbox-type_{{$index}}">
					                        <input type="checkbox" id="list-checkbox-type_{{$index}}" class="mdl-checkbox__input" ng-model="select_types[$index]" ng-change="checkStatus('type', $index, select_types[$index])"/>
					                    </label>
					                </span>
					                <span class="blockStatisticsSection" ng-bind="i18n(type)"></span>
					            </td>
					        </tr>
					    </tbody>
					</table>
				</div>

				<!--Sensors table-->
				<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-phone">
					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp fullWidthTable">
					    <thead>
					        <tr>
					            <th class="mdl-data-table__cell--non-numeric">
					                <span class="mdl-list__item-secondary-action blockStatisticsSection">
					                    <!--This checkbox selects all the locations-->
					                    <label id="label-all_tags" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-all_tags">
					                        <input type="checkbox" id="list-checkbox-all_tags" class="mdl-checkbox__input" ng-model="all_tags" ng-change="select_all('tag')"/>
					                    </label>
					                </span>
					                <span class="blockStatisticsSection">Tags</span>
					            </th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr>
					            <td class="mdl-data-table__cell--non-numeric">
					                <span class="mdl-list__item-secondary-action blockStatisticsSection">
					                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="label-no_tags" for="list-checkbox-no_tags">
					                        <input type="checkbox" id="list-checkbox-no_tags" class="mdl-checkbox__input" ng-model="select_no_tags" ng-change="checkStatus('notag', -1, select_no_tags)"/>
					                    </label>
					                </span>
					                <span class="blockStatisticsSection" ng-bind="i18n('no_tag')"></span>
					            </td>
					        </tr>
					        <tr ng-repeat="tag in tags" on-finish-render="ngRepeatFinished">
					            <td class="mdl-data-table__cell--non-numeric">
					                <span class="mdl-list__item-secondary-action blockStatisticsSection">
					                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="label-tag_{{$index}}" for="list-checkbox-tag_{{$index}}">
					                        <input type="checkbox" id="list-checkbox-tag_{{$index}}" class="mdl-checkbox__input" ng-model="select_tags[$index]" ng-change="checkStatus('tag', $index, select_tags[$index])"/>
					                    </label>
					                </span>
					                <span class="blockStatisticsSection" ng-bind="tag.text"></span>
					            </td>
					        </tr>
					    </tbody>
					</table>
				</div>


			</div>
		</div>
	</div>




        




	
	<!-- The z-index is hardcoded because a sequence of these boxes would cover each other (the invisible part would cover the next box) -->
	<div id="box2" class="box">
		<div class="header">
			<!--
				TODO when the following element is clicked, add class "open" to element with id=box2
				in this example, box1 is closed, when it should be open, "open" should just be added to it's set of classes, that's all
			-->
			<div id="for_box2">
				<i ng-click="open_box(2)" class="material-icons boxStatus">play_arrow</i>
			</div>
			<div class="headerText" ng-bind="i18n('box2_title')"></div>
		</div>
	</div>
	<div class="hiddenBox">
		<div class="boxContent">
			<div class="mdl-grid">

    			<!--Table with sensors-->
				<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-phone" >
					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp fullWidthTable">
					    <thead>
					        <tr>
					            <th class="mdl-data-table__cell--non-numeric">
					                <span class="mdl-list__item-secondary-action blockStatisticsSection">
					                    <!--This checkbox selects all the sensors-->
					                    <label id="label-all_sensors" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-all_sensors">
					                        <input type="checkbox" id="list-checkbox-all_sensors" class="mdl-checkbox__input" ng-model="all_sensors" ng-change="select_all('sensor')"/>
					                    </label>
					                </span>
					                <span class="blockStatisticsSection">
					                     Sensors
					                </span>
					            </th>
					            <th ng-bind="i18n('location')"></th>
					            <th>Type</th>
					            <th>Tag</th>
					        </tr>
					    </thead>
					    <tbody ng-controller="sensor_controller">
					        <tr ng-repeat="sensor in filtered_sensors track by sensor.SID" ng-controller="sensor_objController" on-finish-render="ngRepeatFinished">
					            <td class="mdl-data-table__cell--non-numeric">
					                <span class="mdl-list__item-secondary-action blockStatisticsSection">
					                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="label-sensor_{{$index}}" for="list-checkbox-sensor_{{$index}}">
					                        <input type="checkbox" id="list-checkbox-sensor_{{$index}}" class="mdl-checkbox__input" ng-model="select_sensors[$index]" ng-change="checkStatus('sensor', $index)"/>
					                    </label>
					                </span>
					                <span class="blockStatisticsSection" ng-bind="sensor.title">
					                </span>
					            </td>
					            <td ng-bind="sensor.location_LID"></td>
					            <td ng-bind="sensor.type"></td>
					            <td><span ng-repeat="tag in sensor.tags track by $index">{{$index > 0 ? ", " : ""}}{{tag.text}}</span></td>
					        </tr>
					    </tbody>
					</table>
				</div>


			</div>
		</div>
	</div>





	
	<!-- The z-index is hardcoded because a sequence of these boxes would cover each other (the invisible part would cover the next box) -->
	<div id="box3" class="box">
		<div class="header">
			<div id="for_box3">
				<i ng-click="open_box(3)" class="material-icons boxStatus">play_arrow</i>
			</div>
			<div class="headerText" ng-bind="i18n('box3_title')"></div>
		</div>
	</div>
	<div class="hiddenBox">
		<div class="boxContent">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-phone">
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect radioBtnBlock" for="option-static">
						<input type="radio" id="option-static" class="mdl-radio__button" name="options-static" ng-value="false" ng-model="live" ng-click="set_live()" checked/>
						<span class="mdl-radio__label" ng-bind="i18n('static')"></span>
					</label>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect radioBtnBlock" for="option-live">
						<input type="radio" id="option-live" class="mdl-radio__button" name="options-static" ng-value="true" ng-model="live" ng-click="set_live()"/>
						<span class="mdl-radio__label" ng-bind="i18n('live')"></span>
					</label>
				</div>

				<div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-phone" ng-hide="live">
					<form action="#">
						<span class="xlargeFont" ng-bind="i18n('start_date')"></span>
					    <input class="mdl-textfield__input" type="date" id="startDate" ng-model="start_date" required/>
                        <input class="mdl-textfield__input" type="time" id="startDateTime" ng-model="start_date_time.value" required/>
					</form>
				</div>
				<div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-phone"ng-hide="live">
					<form action="#">
						<span class="xlargeFont" ng-bind="i18n('end_date')"></span>
					    <input class="mdl-textfield__input" type="date" id="endDate" ng-model="end_date" required/>
                        <input class="mdl-textfield__input" type="time" id="endDateTime" ng-model="end_date_time.value" required/>
					</form>
				</div>
				<div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--1-col-phone"ng-hide="live"></div>
				<div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-phone" ng-show="live">
					<form action="#">
							<span class="xlargeFont" ng-bind="i18n('amount_back')"></span>
							<input class="mdl-textfield__input" ng-model="amount_live_back" type="number" id="liveDays" name="live_days" required>
					</form>
				</div>
				<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-phone" ng-show="live">
					<div class="mdl-grid topAlign" ng-show="live">
						<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-phone topAlign">
							<span class="xlargeFont" ng-bind="i18n('aggregate_by')"></span>
						</div>

						<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-phone">
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
								<input type="radio" id="option-1" class="mdl-radio__button" name="options" value="hours" ng-model="type_of_time" checked/>
								<span class="mdl-radio__label" ng-bind="i18n('hours')"></span>
							</label>
						</div>

						<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-phone">
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
								<input type="radio" id="option-3" class="mdl-radio__button" name="options" value="months" ng-model="type_of_time"/>
								<span class="mdl-radio__label" ng-bind="i18n('months')"></span>
							</label>
						</div>

						<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-phone">
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
								<input type="radio" id="option-2" class="mdl-radio__button" name="options" value="days" ng-model="type_of_time" checked/>
								<span class="mdl-radio__label" ng-bind="i18n('days')"></span>
							</label>
						</div>

						<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-phone">
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
								<input type="radio" id="option-4" class="mdl-radio__button" name="options" value="years" ng-model="type_of_time"/>
								<span class="mdl-radio__label" ng-bind="i18n('years')"></span>
							</label>
						</div>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-phone">
					<div class="mdl-grid topAlign">
						<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-phone topAlign">
							<span class="xlargeFont" ng-bind="i18n('display_in')"></span>
						</div>

						<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-phone">
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option1-1">
								<input type="radio" id="option1-1" class="mdl-radio__button" name="options1" value="hours" ng-model="type_of_aggregate" checked/>
								<span class="mdl-radio__label" ng-bind="i18n('hours')"></span>
							</label>
						</div>

						<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-phone">
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option1-3">
								<input type="radio" id="option1-3" class="mdl-radio__button" name="options1" value="months" ng-model="type_of_aggregate"/>
								<span class="mdl-radio__label" ng-bind="i18n('months')"></span>
							</label>
						</div>

						<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-phone">
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option1-2">
								<input type="radio" id="option1-2" class="mdl-radio__button" name="options1" value="days" ng-model="type_of_aggregate" checked/>
								<span class="mdl-radio__label" ng-bind="i18n('days')"></span>
							</label>
						</div>

						<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-phone">
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option1-4">
								<input type="radio" id="option1-4" class="mdl-radio__button" name="options1" value="years" ng-model="type_of_aggregate"/>
								<span class="mdl-radio__label" ng-bind="i18n('years')"></span>
							</label>
						</div>
						<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-phone">
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option1-0" ng-show="aggregate_by[0] === false && aggregate_by[1] === false && aggregate_by[2] === false && show_raw == true">
								<input type="radio" id="option1-0" class="mdl-radio__button" name="options1" value="raw" ng-model="type_of_aggregate" checked/>
								<span class="mdl-radio__label" ng-bind="i18n('raw')"></span>
							</label>
						</div>
					</div>
				</div>
<!--<div style="color: red" >{{type_of_aggregate=='raw'}}  {{amount_live_back}}</div>-->
				
				<!--
				<div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-phone">
					<span style="float: right;">
						<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-15">
						    <input type="checkbox" id="checkbox-15" class="mdl-checkbox__input" checked>
						    <span class="mdl-checkbox__label" ng-bind="i18n('merge_checkbox')"></span>
						</label>
					</span>
				</div>-->
				<!--misschien kunt ge gewoon die select boxes niet direct laten overeenstemmen met het type, maar eerder het type automatisch bepalen?
dus eerst hebt ge een checkbox, met basically:

__________  [ ] seconden [ ] minuten [ ] uren [X] dagen [ ] maanden [ ] jaren geleden
en daaruit haalt ge gewoon een aantal (milli)seconden
en op basis daarvan (ongeacht of de gebruiker nu 120 minuten of 2 uur heeft ingevuld) kiest ge het beste type
of gewoon twee lijsten met checkboxes maar dat is misschien verwarrend-->
			</div>
			<div class="mdl-grid">
				<div class="mdl-cell--2-col-desktop mdl-cell--2-col-phone">
					<form action="#">
						<div class="mdl-textfield mdl-js-textfield" id="graphTextfield">
							<input class="mdl-textfield__input" type="text" id="graphName" ng-model="graph_title">
							<label class="mdl-textfield__label" for="sample1" ng-bind="i18n('insert_title')"></label>
						</div>
					</form>
				</div>
			</div>
			<div class="mdl-grid">
				<div class="mdl-cell--2-col-desktop mdl-cell--2-col-phone">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-bind="i18n('show_data')" ng-click="make_graph();">
					</button>
				</div>
			</div>
		</div>
	</div>




	<!-- The z-index is hardcoded because a sequence of these boxes would cover each other (the invisible part would cover the next box) -->
	<div id="box4" class="box">
		<div class="header">
			<!--
				TODO when the following element is clicked, add class "open" to element with id=box4
				in this example, box1 is already open, when it should be closed, "open" should just be removed, that's all
			-->
			<div id="for_box4">
				<i ng-click="open_box(4)" class="material-icons boxStatus">play_arrow</i>
			</div>
			<div class="headerText" ng-bind="i18n('box4_title')"></div>
		</div>
	</div>
	<div class="hiddenBox">
		<div class="boxContent">
			<div class="mdl-grid">
				<!--cards-->
				<div ng-repeat="graph in graphs" on-finish-render-graphs="ngRepeatFinishedGraphs" class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-phone">
					<div class="demo-card-wide mdl-card mdl-shadow--2dp">
						<div class="mdl-card__title">
							<h2 class="mdl-card__title-text" ng-bind="graph.title"></h2>
							<button id="share_btn-{{$index}}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" ng-click="share($index)" ng-hide="graph.live">
								<i class="material-icons">share</i>
							</button>
							<button id="important_btn-{{$index}}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" ng-click="mark_important($index)" ng-show="graph.live">
								<i id="important_icon-{{$index}}" class="material-icons white">grade</i>
							</button>
							<button id="exit_btn-{{$index}}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" ng-click="exit($index)">
								<i id="exit_icon-{{$index}}" class="material-icons white">delete</i>
							</button>
						</div>
						<div ng-click="Scatterfullscreen(graph)">
							<canvas id="line-{{$index}}"></canvas>
							<div id="legend-{{$index}}"></div>
						</div>	
					</div>
					<div ng-repeat="i in graphs" class="mdl-tooltip" for="important_btn-{{$index}}" ng-bind="importants[$index] ? i18n('mark_unimportant') : i18n('mark_important')" ng-show="graph.live">
					</div>
					<div ng-repeat="i in graphs" class="mdl-tooltip" for="share_btn-{{$index}}" ng-bind="i18n('share')" ng-hide="graph.live">
					</div>
					<div ng-repeat="i in graphs" class="mdl-tooltip" for="exit_btn-{{$index}}" ng-bind="i18n('delete_graph')">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
