<div class="myContainer">
  <div class="welComeText">{{i18n("register")}}<br/><br/>OverWatch!</div>
  <!-- Textfield with Floating Label -->
  <form action="#" style="width: 90%; margin: auto;">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: inherit;">
      <input class="mdl-textfield__input" type="text" id="sample3 style="width: inherit;"">
      <label class="mdl-textfield__label" for="sample3" style="width: inherit;">{{i18n("username")}}...</label>
    </div>
  </form>
  <form action="#" style="width: 90%; margin: auto;">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: inherit;">
      <input class="mdl-textfield__input" type="password" id="sample3 style="width: inherit;"">
      <label class="mdl-textfield__label" for="sample3" style="width: inherit;">{{i18n("password")}}</label>
    </div>
  </form>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
    style="width: 90%; margin: 1%; margin-left: 5%; padding: 0%">
    {{i18n("login")}}
  </button>
</div>