#pagination > ul{
	list-style-type: none;
	list-style-position: inside;
	margin:0;
	padding:0;
}

#pagination > ul > li{
	list-style-type: none;
	list-style-position: inside;
	margin:0;
	padding:0;
}


#pagination{
	background-color: transparent;
	display: inline-block;
	border-left: none;
	border-right: none;
	width: 585px;
	height: 43px;
	white-space: nowrap;
	font-size: 0;
}

#pagination > ul > li > a{
	font-size: 20px;
	color: #000066;
	border: none;
	background-color: rgba(158,158,158,.2);
	padding: 0px;
	border: 1px solid rgba(158,158,158,.2);
	border-radius: 1px;
	width: 43px;
	height: 31px;
	display: inline-block;
	padding-top: 10px;
	text-align: center;
}

#pagination > ul > li:nth-child(1), #pagination > ul > li:nth-child(2), #pagination > ul > li:nth-child(8), #pagination > ul > li:nth-child(9){
	width: 88px;
	height: 43px;
}

#pagination > ul > li:nth-child(1) > a, #pagination > ul > li:nth-child(2) > a, #pagination > ul > li:nth-child(8) > a, #pagination > ul > li:nth-child(9) > a{
	width: 88px;
	height: 31px;
}
#pagination > ul > li:hover{
	background-color: rgba(158,158,158,.2);
	cursor: pointer;
}

#pagination > ul > li:focus{
	outline: 0;
}

#pagination > ul > li > a.selected{
	background-color: #ffd740;
	color: #808080;
	border: 1px solid #ffd740;
}

#pagination > ul > li.disabled:hover{
	cursor: not-allowed;
}

#pagination > ul > li:nth-child(n+10){
	display: none;	
}

.sliderEffect{
	height: 6px;
	background-color: #ffd740;
}






