<!DOCTYPE html>

<!--TODO Instead of confirmation delete dialog make a fancy mdl "snackbar" that gives you a delete notification with the option to undo the last one. So delete doesnt ask for confirmation. -->

<html ng-app="overwatch" ng-controller="mainController" ng-cloak>
	<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.blue_grey-amber.min.css">
	<link rel="stylesheet" href="/static/login.css">
	<link rel="stylesheet" href="/static/homeTab.css">
	<link rel="stylesheet" href="/static/menus2.css">
	<link rel="stylesheet" href="/static/sensorsTab.css">

	<script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
	<script src="/js/websocket.js"></script>
	<script src="/js/cookies.js"></script>
	<script src="/js/internationalization.js"></script>
	<script src="/js/ng-tags-input.min.js"></script>
	<script src="/js/prototypes/data_type.js"></script>
	<script src="/js/prototypes/user.js"></script>
	<script src="/js/prototypes/sensor.js"></script>
	<script src="/js/prototypes/location.js"></script>
	<link rel="stylesheet" href="/static/ng-tags-input.css">
</head>
<body>
    <script>
      document.write('<base href="' + document.location + '" />');
    </script>
    <div id="mainLayout" class="demo-layout-transparent mdl-layout mdl-js-layout">
      <header id="mainHeader" class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">OverWatch</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">
            <button id="btnLogin" type="button"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-hide=logged_in ng-bind="i18n('login')">
            </button>
            <button id="btnLogout" type="button"
            class="mdl-button mdl-js-button mdl-button--fab" ng-click="logout()" ng-show=logged_in>
                <i class="material-icons">power_settings_new</i>
            </button>
            <div class="mdl-tooltip" for="btnLogout" ng-bind="i18n('logout')">
            </div>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">OverWatch</span>
        <nav class="mdl-navigation">
          <a class="header_a mdl-navigation__link" href="/home" ng-bind="i18n('homelink')"></a>
          <a class="header_a mdl-navigation__link" href="/statistics" ng-bind="i18n('statisticslink')"></a>
          <a class="header_a mdl-navigation__link" href="/sensors" ng-bind="i18n('sensorslink')"></a>
          <a class="header_a mdl-navigation__link" href="/social" ng-bind="i18n('sociallink')"></a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div ng-view></div>
        <!-- The confirm dialog-->
        <dialog id="dlgConfirm" class="mdl-dialog">
            <h4 class="mdl-dialog__title" ng-bind="i18n('confirm_title')"></h4>
            <div class="mdl-dialog__content">
                <p ng-bind="i18n('confirm_text')">
                <div>
                    <!-- The dialog's buttons ("log in" and "back"), sorry i used "style=" :)-->
                    <button id="btnConfirmContinue" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                        style="width: 45%; display: inline;" ng-click="confirm(true);" ng-bind="i18n('continue')">
                    </button>
                    <button id="btnConfirmCancel" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                        style="width: 45%; display: inline;" ng-click="confirm(false);" ng-bind="i18n('cancel')">
                    </button>
                </div>
            </div>
        </dialog>        
      </main>
	    <footer class="mdl-mini-footer">
		    <div class="mdl-mini-footer__left-section">
			    <div class="mdl-logo">OverWatch</div>
			    <ul class="mdl-mini-footer__link-list">
				    <li><a href="#">Help</a></li>
				    <li><a href="#" ng-bind="i18n('privacy')"></a></li>
			    </ul>
		    </div>
		    <div class="mdl-mini-footer__right-section">
		        <button id="btn_english" ng-click="language=0" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" >En</button>
		        <button id="btn_dutch" ng-click="language=1" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" >Nl</button>
		    </div>
	    </footer>      
    </div>
	
    <script src="/js/angular/angular_setup.js"></script>
    <script src="/js/angular/angular_helper.js"></script>
    <script src="/js/angular/angular_index.js"></script>
    <script src="/js/angular/angular_home.js"></script>
    <script src="/js/angular/angular_sensors.js"></script>
</body>
</html>
