<!DOCTYPE html>

<html ng-app="overwatch" ng-controller="mainCtrl" ng-cloak>
	<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
	<link rel="stylesheet" href="/static/login.css">
	<script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
	<script defer src="/js/login.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
</head>
<body>
      <!-- Uses a transparent header that draws on top of the layout's background -->
    <style>
    #mainHeader {
      background: url(images/background2.jpg) center / cover;
    }
    .header_a {
      color: darkorange;
    }
    .demo-layout-transparent .mdl-layout__header,
    .demo-layout-transparent .mdl-layout__drawer-button {
      /* This background is dark, so we set text to white. Use 87% black instead if
         your background is light. */
      color: darkorange;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    </style>

    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
      <header id="mainHeader" class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">OverWatch</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">
            <a class="header_a mdl-navigation__link" href="">Link</a>
            <a class="header_a mdl-navigation__link" href="">Link</a>
            <a class="header_a mdl-navigation__link" href="">Link</a>
            <a class="header_a mdl-navigation__link" href="">Link</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">OverWatch</span>
        <nav class="mdl-navigation">
          <a class="header_a mdl-navigation__link" href="">Link</a>
          <a class="header_a mdl-navigation__link" href="">Link</a>
          <a class="header_a mdl-navigation__link" href="">Link</a>
          <a class="header_a mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <button id="btnLogin" type="button"
        class="topRightSticky mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-hide=logged_in>
            Log in
        </button>
        <button id="btnLogin" type="button"
        class="topRightSticky mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-show=logged_in>
            Log out
        </button>
        <!-- The welcome message-->
        <div class="centeredContainer">
            <p class="welcomeMessage">Welcome to OverWatch!</p>
            <p class="welcomeMessage">Overwatch is love, Overwatch is life.</p>
            <p class="welcomeMessage" ng-show=logged_in>Currently logged in as {{auth_user.user_name}}.</p>
            <button id="btnSignup" type="button"
            class="hugeButton mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                SignUp
            </button>
        </div>

        <!-- The log in dialog-->
        <dialog id="dlgLogin" class="mdl-dialog" ng-controller="loginCtrl">
            <h4 class="mdl-dialog__title">Log in</h4>
            <div class="mdl-dialog__content">
                <form action="#" name="login_form" autocomplete="nope">
                    <!-- The username and password-->
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="input_login_username" name="login_username" ng_model="username" required>
                        <label class="mdl-textfield__label" for="input_login_username">Username</label>
                    </div>
                        <div ng-messages="login_form.login_username.$error">
                                <div ng-message="required">This field is required</div>
                        </div> 
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="password" id="input_login_password" name="login_password" ng-model="password" required>
                        <label class="mdl-textfield__label" for="input_login_password">Password</label>
                    </div>
                        <div ng-messages="login_form.login_password.$error">
                                <div ng-message="required">This field is required</div>
                        </div>
                        <div>
                                <p style="color: red" ng-show="wrong_login">Wrong username or password!</p>
                        </div>
                </form>
                <div>
                    <!-- The dialog's buttons ("log in" and "back"), sorry i used "style=" :)-->
                    <button id="btnDialogLogin" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="login()"
                        style="width: 45%; display: inline;">
                        Log in
                    </button>
                    <button id="btnDialogBack" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                        style="width: 45%; display: inline;" ng-click="wrong_login=false">
                        Back
                    </button>
                </div>
            </div>
        </dialog>


        <!-- The sign up dialog-->
        <dialog id="dlgSignup" class="mdl-dialog" ng-controller="signupCtrl">
            <h4 class="mdl-dialog__title">Sign up</h4>
            <div class="mdl-dialog__content">
                <form action="#" name="signup_form">
                    <!-- The username and password-->
                    <div class="mdl-textfield mdl-js-textfield">
                        <label class="mdl-textfield__label" for="input_signup_username">Username</label>                  
                        <input class="mdl-textfield__input" type="text" id="input_signup_username" ng-model="username" name="signupUsername" required/>
                            </div>
                            <div ng-messages="signup_form.signupUsername.$error">
                                    <div ng-message="required">This field is required</div>
                            </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="email" id="input_signup_email" name="signupEmail" ng-model="email" required>
                        <label class="mdl-textfield__label" for="input_signup_email">Email</label>
                    </div>
                        <div ng-messages="signup_form.signupEmail.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="email">Please input a valid email address</div>
                        </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="password" id="input_signup_password" ng-model="password" name="signupPassword" required minlength="8">
                        <label class="mdl-textfield__label" for="input_signup_password">Password</label>
                    </div>
                        <div ng-messages="signup_form.signupPassword.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="minlength">Password must be at least 8 characters</div>
                        </div>
                </form>
                <div>
                    <!-- The dialog's buttons ("log in" and "back"), sorry i used "style=" :)-->
                    <button id="btnDialogSignup" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="signup()"
                        style="width: 45%; display: inline;">
                        Sign up
                    </button>
                    <button id="btnSignupBack" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                        style="width: 45%; display: inline;">
                        Back
                    </button>
                </div>
            </div>
        </dialog>
      </main>
    </div>
	
    <script src="/js/overwatch_angular.js"></script>
</body>
</html>
