<!DOCTYPE html>

<html ng-app="overwatch" ng-controller="mainCtrl" ng-cloak>
	<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.blue_grey-amber.min.css">
	<link rel="stylesheet" href="/static/login.css">
	<link rel="stylesheet" href="/static/homeTab.css">
	<link rel="stylesheet" href="/static/menus2.css">
	<script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
</head>
<body>
    <script>
      document.write('<base href="' + document.location + '" />');
    </script>
    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
      <header id="mainHeader" class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">OverWatch</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">
            <button id="btnLogin" type="button"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-hide=logged_in>
                {{i18n("login")}}
            </button>
            <button id="btnLogin" type="button"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-show=logged_in>
                {{i18n("logout")}}
            </button>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer" ng-show="logged_in">
        <span class="mdl-layout-title">OverWatch</span>
        <nav class="mdl-navigation">
          <a class="header_a mdl-navigation__link" href="">Link</a>
          <a class="header_a mdl-navigation__link" href="">Link</a>
          <a class="header_a mdl-navigation__link" href="">Link</a>
          <a class="header_a mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
    
        <div ng-view></div>
      </main>
	    <footer class="mdl-mini-footer">
		    <div class="mdl-mini-footer__left-section">
			    <div class="mdl-logo">OverWatch</div>
			    <ul class="mdl-mini-footer__link-list">
				    <li><a href="contact">Help</a></li>
				    <li><a href="#">{{i18n("privacy")}}</a></li>
			    </ul>
		    </div>
		    <div class="mdl-mini-footer__right-section">
		        <button id="btn_english" ng-click="language=0" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" >En</button>
		        <button id="btn_dutch" ng-click="language=1" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" >Nl</button>
		    </div>
	    </footer>      
    </div>
	
    <script src="/js/overwatch_angular.js"></script>
</body>
</html>
