.demo-card-wide.mdl-card {
	width: 100%;
}
.demo-card-wide > .mdl-card__title {
	color: #fff;
	/*height: 176px;*/
	background-color: #bbb;
}
.demo-card-wide > .mdl-card__title
.demo-card-wide > .mdl-card__menu {
	color: #ddd;
}
.material-icons.yellow{
	/*this has been marked as important*/
	color: yellow;
}
.material-icons.white{
	/*this has not been marked as important*/
	color: white;
}
