#mainHeader, .mainColor{
	background-color: #8E031C;
}

#instruction{
	display: inline-block;
	margin-top: 2%;
	margin-left: 2%;
	font-size: 24px;
	margin-bottom: 6px;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}

#iconHelp{
	margin: 2%;
	margin-bottom: 0%;
	font-size: 36px;
	float: right;
}

#iconHelp:hover{
	cursor: pointer;
}

#btnGenerateReport{
	margin-top: 2%;
	margin-left: 2%;
}

#adminReportField{
	height: 40%;
	width: 96%;
	margin-top: 2%;
	margin-left: 2%;
	font-size: 14px;
	border-radius: 7px;
}
