#mainHeader, .mainColor{
	background-color: #8E031C;
}

#instruction{
	display: inline-block;
	margin-top: 2%;
	margin-left: 2%;
	font-size: 24px;
	margin-bottom: 6px;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}

#iconHelp{
	margin: 2%;
	margin-bottom: 0%;
	font-size: 36px;
	float: right;
}

#iconHelp:hover{
	cursor: pointer;
}

#btnGenerateReport{
	margin-top: 2%;
	margin-left: 2%;
}

#adminReportField{
	width: 96%;
	margin-left: 2%;
	margin-top: 2%;
	font-size: 14px;
	border-radius: 7px;
	display:inline-block;
	height: auto;
	min-height: 180px;
    font-family: monospace;
    border-color: rgb(169, 169, 169);
    background-color: white;
    white-space: pre-wrap;
    border: 1px solid;
    padding: 2px;
}
