
.box{
	width: 98%;
	max-height: 40px;
	margin: 1%;
	margin-bottom: 0px;
	transition: max-height 1s;
	-moz-transition: max-height 1s; /* Firefox 4 */
	-webkit-transition: max-height 1s; /* Safari and Chrome */
	-o-transition: max-height 1s; /* Opera */
	display: block;
	border: 1px solid #A8A8A8;
	border-bottom: none;
	background-color: #F0F0F0;
	border-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.box.open{
	max-height: 600px;
	overflow: auto;
}

.hiddenBox{
	width: 98%;
	max-height: 0px;
	margin: 1%;
	margin-top: 0%;
	transition: max-height 0.5s;
	-moz-transition: max-height 0.5s; /* Firefox 4 */
	-webkit-transition: max-height 0.5s; /* Safari and Chrome */
	-o-transition: max-height 0.5s; /* Opera */
	display: block;
	background-color: #F0F0F0;
	border: 1px solid #A8A8A8;
	border-top: none;
	border-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.box.open + .hiddenBox{
	margin: 1%;
	margin-top: 0%;
    max-height: 600px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	transition: max-height 1s;
	-moz-transition: max-height 1s; /* Firefox 4 */
	-webkit-transition: max-height 1s; /* Safari and Chrome */
	-o-transition: max-height 1s; /* Opera */
	max-height: 600px;
	overflow: auto;
}

.boxContent{
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
    visibility: hidden;
}

.box.open +.hiddenBox > .boxContent{
    visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.5s linear;
}

.header{
	width: 100%;
	height: 40px;
	display: inline-block;
}

.box.open > .header > div > .boxStatus{
    -webkit-transform: rotate(90deg);
}

.boxStatus{
	float: left;
	font-size: 40px;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease; /* Firefox 4 */
	-webkit-transition: all 0.5s ease; /* Safari and Chrome */
	-o-transition: all 0.5s ease; /* Opera */
}

.boxStatus:hover{
	cursor: pointer;
}

.headerText{
	font-size: 20px;
	margin-top: 10px;
}
