
.menu_header {
	line-height: 1.8em !important;
	padding-bottom: 1.5em;
}

#headerLogo{
	height: 70%;
	margin-right: 10px;
}

#drawerTitle{
	color: white;
	margin-top: 25px;
}

.profileImage{
	width: 75px;
	height: 75px;
	margin-top: 5px;
	display: block;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

#drawerUserEmail{
	font-size: 0.65em;
	color: white;
	text-decoration: none;
}

#socialHomeLink{
    font-variant: small-caps;
    margin-top: 2em;
    border-top: solid lightgrey 1px;
    font-weight: 900;
}

#socialHomeLink:hover {
    background-color: inherit;
}

#btnConfirmContinue, #btnConfirmCancel{
	width: 45%;
	display: inline;
}

#btnDataSend, #btnDataCancel{
	width: 48%;
	display: inline;
}

#sendError{
	color: red;
}

#select_share{
	overflow-y: auto;
	max-height: 140px;
}

#btnShareContinue, #btnShareCancel{
	width: 45%;
	display: inline;
}


.header_a:hover {
	cursor: pointer;
}


/*Index_tmp part*/

.bigFatLogo{
	height: 210px;
	margin: 5px;
}













