.topRightSticky{
	position: absolute;
	top: 2px;
	right: 2px;
}
.centeredContainer{
	width: 300px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
	text-align: center;
}
p.welcomeMessage{
	font-weight: bold;
	font-size: x-large;
	background-image: url("./logo.png");
}
.hugeButton{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#btnLogout, #btnLogin{
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
}

#btnLogout{
	min-width: 35px;
	min-height: 35px;
	height: 35px;
	width: 35px;
}
