#reportTitle{
	text-align: center;
	text-transform: uppercase;
	display: block;
	font-size: 2em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	margin-bottom: 10%;
}

.editComment[contentEditable=true]:empty:after{
    content: attr(placeholder);
	font-style: italic;
}

.reportSection{
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	height: auto;
	margin-bottom: 5%;
}

.reportGraph{
	width: 100%;
	height: auto;
}

.reportComment{
}

.finalReportComment{
	margin-top: 10%;
}

.page {
	width: 210mm;
	min-height: 297mm;
	padding: 20mm;
	margin: 10mm auto;
	border: 1px #D3D3D3 solid;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
@media print{
	.btnPrepareToPrint, btnSubmit, .editComment[contentEditable=true]:empty:after{
		display: none;
	}

	::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb{
		display: none;
	}
	html, body {
		width: 210mm;
		height: 297mm;        
	}
	.page {
		margin: 0;
		border: initial;
		border-radius: initial;
		width: initial;
		min-height: initial;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
	}
}
	


