#reportTitle{
	text-align: center;
	text-transform: uppercase;
	display: block;
	font-size: 2em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	margin-bottom: 10%;
}

.editComment[contentEditable=true]:empty:after{
    content: attr(placeholder);
	font-style: italic;
}

.reportSection{
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	height: auto;
	margin-bottom: 5%;
}

.reportGraph{
	width: 100%;
	height: auto;
}

.reportComment{
}

.finalReportComment{
	margin-top: 10%;
}

@media print{
	.btnPrepareToPrint, .editComment[contentEditable=true]:empty:after{
		display: none;
	}
}
