.down{
	-webkit-transform: rotate(90deg);
}
.up{
	-webkit-transform: rotate(-90deg);
}
.md-10{
	font-size: 10;
}
.sortColumnAttr{
	width: auto;
}
.sortColumnAttr:hover{
	cursor: pointer;
}
.tableHeadColor{
	background-color: rgb(200,200,200);
}
.bareButton{
	border: none;
	background: none;
	margin: 0px;
	padding: 0px;
}
.bareButton:hover{
	cursor: pointer;
}

/*This stuff indicates sections*/
#locations{
	display: inline-block;
	width: 20%;
	padding: 0px;
	margin-right: 3%;
	max-height: 60%;
	overflow: scroll;
}
#dataTable{
	display: inline-block;
	width: 75%;
	height: auto;
	padding: 0px;
	overflow-x: scroll;
}
table{
	width: 100%;
}
::-webkit-scrollbar { 
    display: none; 
}
