.material-icons.md-15.clickable{
	font-size: 15px;
	cursor: pointer;
	color: inherit;
}

.clicked{
	color: #448AFF;
}

.notClicked{
	color: #C0C0C0;
}

.spacer{
	margin: 5px;
}

#btnShowComments:hover{
	cursor: pointer;
	text-decoration: underline;
}

.commentSection{
	display: none;
}

.commentSection.activated{
	max-height: 400px;
	overflow-y: auto;
	height: auto;
	display: block;
}

.comment{
	height: auto;
	width: 96%;
	margin: 15px;
}

.comment > .name{
	color: #448AFF;
	display: inline-block;
}

.comment > .name:hover{
	text-decoration: underline;
	cursor: pointer;
}

.comment > .name + .text{
	color: black;
	display: inline-block;
}

.comment > .name + .text + .commentFooter{
	font-size: 15px;
}

.comment > .name + .text + .commentFooter > .date{
	color: #B0B0B0;
	display: inline-block;
}

.comment > .name + .text + .commentFooter > .date + .option{
	color: #448AFF;
	display: inline-block;
}

.comment > .name + .text + .commentFooter > .date + .option:hover{
	cursor: pointer;
	text-decoration: underline;
}

#socialRightMenu{
	margin-top: 40px;
}

#socialLeftMenu{
	margin-top: 40px;
}

.menuGroup{
	margin-top: 15px;
	color: #A0A0A0;
	margin-left: 30px;
}

.socialMenuButton{
	width: 100%;
	padding: 0px;
}













/*Updated css for updated layout*/

#txtfield_Status{
	width: 100%;
}

#txtfield_Status > .mdl-textfield__input{
	width: 100%;
}

.mdl-cell--centeredContent{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.groupTitle{
	text-align: center;
}

.postStatus{
	height: auto;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
}

#txtfield_StatusGroup{
	display: flex;
	flex-direction: column;
	display: inline;
	flex-grow: 100;
}

.postStatus_picture{
	float: left;
	height: 50px;
	width: 50px;
	margin-top: auto;
	margin-bottom: auto;
}

.groupMembers{
	display: block;
	margin-top: 10%;
	margin-left: 5%;
}

.groupMemberImages{
	margin-left: 5%;
}

.mdl-card--date{
	margin-left: auto;
	font-size: 12px;
}
