.profileHeader1{
	text-transform: uppercase;
	font-size: 25px;
	display: inline;
	float: left;
}

.profileHeader{
	text-transform: uppercase;
	font-size: 25px;
}

.profileCategory{
	padding-top: 10px;
	padding-left: 20px;
}

.profileInfo{
	padding-left: 40px;
}

.profileTitle1{
	padding-top: 2px;
	padding-left: 20px;
	font-size: 20px;
	float: left;
}

.profileTitle{
	padding-top: 2px;
	padding-left: 20px;
	font-size: 20px;
	display: block;
}

.profileInfo > .profileSubject{
	display: block;
}

.profileInfo > .profileSubject + .profileResult{
	color: #448AFF;
	padding-left: 20px;
}
