body{
	background-color: rgb(255, 255, 245);
}

.mdl-layout__drawer{
	background-color: rgb(255, 255, 240);
	border-right: none;
}

.mainColor{
	/*background-color: #B53F3F is the admin color*/
	background-color: #3F51B5
}

.drawerIcon{
	margin-right: 10%;
}

.mdl-button--accent.mdl-button--accent{
	height: auto;
}

.snackbarpos {
	margin-bottom: 75px;
	order: 2;
	/*left: calc(50% - 144px);
	max-width: 289px;
	min-width: 288px;*/
}

.fullscreen{
	max-width: 90%;
	width: auto;
	margin: 0px;
	position: fixed;
	top: 5%;
	left: 5%;
	height: 90%;
	padding: 0px;
	overflow: auto;
}

.fullscreenCanvas{
	width: 85%;
	height: 85%;
	margin-left: 5%;
	margin-right: 5%;
}

footer{
	order: 1;
	height: 70px;
	color: rgb(158, 158, 158);
	background-color: rgb(66, 66, 66);
	width: 100%;
	position: absolute;
	top: calc(100% - 70px);
	display: flex;
	align-items: center;
}

.footer__left-section{
	max-width: 47%;
	margin-left: 3%;
}

.footer__left-section__title{
	font-family: "Helvetica","Arial",sans-serif;
	font-size: 14px;
	font-weight: 200;
	color: white;
	display: inline;
}

ul.footer__link-list{	
	display: inline;
	padding-left: 0px;
}

ul.footer__link-list > li{
	display: inline;
	padding-left: 16px;
}

ul.footer__link-list > li > a{
	color: inherit;
	display: inline;
}

.footer__right-section{
	max-width: 47%;
	margin-right: 3%;
	float: right;
	margin-left: auto;
}

.mdl-layout__container{
	height: calc(100% - 70px);
}

body{
	height: 100%;
}

#cantrememberwhatthisis{
	margin: 20px;
}

#btnAddFriend{
	margin-top: 5px;
	margin-bottom: 20px;
}

.errorColor{
	color: red;
}

.dropdownTypeStyle{
	overflow-y: scroll;
	max-height: 140px;
}
